## Extract

In [ ]:
# Imports
import pandas as pd
import config

'imdb' is already installed.

**Get Oscar Winners**

In [ ]:
# https://www.kaggle.com/datasets/unanimad/the-oscar-award Can be done with API, updated yearly
oscar_awards_df = pd.read_csv("./the-oscar-award/full_data.csv", sep="\t") 
oscar_awards_df.head()

,Ceremony,Year,Class,CanonicalCategory,Category,NomId,Film,FilmId,Name,Nominees,NomineeIds,Winner,Detail,Note,Citation,MultifilmNomination
0,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051251,The Noose,tt0019217,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,Nickie Elkins,NaN,NaN,True
1,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051252,The Patent Leather Kid,tt0018253,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,The Patent Leather Kid,NaN,NaN,True
2,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250a,The Last Command,tt0019071,Emil Jannings,Emil Jannings,nm0417837,True,General Dolgorucki [Grand Duke Sergius Alexander],NaN,NaN,True
3,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250b,The Way of All Flesh,tt0019553,Emil Jannings,Emil Jannings,nm0417837,True,August Schilling,NaN,NaN,True
4,1,1927/28,Acting,ACTRESS IN A LEADING ROLE,ACTRESS,an0051255,A Ship Comes In,tt0018389,Louise Dresser,Louise Dresser,nm0237571,NaN,Mrs. Pleznik,NaN,NaN,NaN

**Get movies**

In [ ]:
# Movie web scraper
#%pip install git+https://github.com/alberanid/imdbpy
from imdb import IMDb

# Use the online IMDb interface
ia = IMDb('web')

'""\n# get a movie (The Matrix)\nmovie = ia.get_movie(\'0133093\')\nprint(movie)\n\n# print the names of the directors of the movie\nprint(\'Directors:\')\nfor director in movie.get(\'directors\', []):\n    print(director[\'name\'])\n\n# print the genres of the movie\nprint(\'Genres:\')\nfor genre in movie.get(\'genres\', []):\n    print(genre)\n\n# search for a person name\npeople = ia.search_person(\'Mel Gibson\')\nfor person in people:\n    print(person.personID, person[\'name\'])\n'

In [53]:
from datetime import datetime 
current_year = datetime.now().year 

year_start = 2024
oscar_awards_df["YearStart"] = (
    oscar_awards_df["Year"].astype(str).str.split("/").str[0].astype(int))

recent_oscars = oscar_awards_df[ (oscar_awards_df["YearStart"] >= year_start) & (oscar_awards_df["YearStart"] <= current_year - 2) & (oscar_awards_df["FilmId"].notna()) ]
recent_oscars.head()

,Ceremony,Year,Class,CanonicalCategory,Category,NomId,Film,FilmId,Name,Nominees,NomineeIds,Winner,Detail,Note,Citation,MultifilmNomination,YearStart
11876,97,2024,Acting,ACTOR IN A LEADING ROLE,ACTOR IN A LEADING ROLE,fake_nomid012,The Brutalist,tt8999762,Adrien Brody,Adrien Brody,nm0004778,True,László Tóth,NaN,NaN,NaN,2024
11877,97,2024,Acting,ACTOR IN A LEADING ROLE,ACTOR IN A LEADING ROLE,fake_nomid010,A Complete Unknown,tt11563598,Timothée Chalamet,Timothée Chalamet,nm3154303,NaN,Bob Dylan,NaN,NaN,NaN,2024
11878,97,2024,Acting,ACTOR IN A LEADING ROLE,ACTOR IN A LEADING ROLE,fake_nomid013,Sing Sing,tt28479262,Colman Domingo,Colman Domingo,nm0231458,NaN,Divine G,NaN,NaN,NaN,2024
11879,97,2024,Acting,ACTOR IN A LEADING ROLE,ACTOR IN A LEADING ROLE,fake_nomid011,Conclave,tt20215234,Ralph Fiennes,Ralph Fiennes,nm0000146,NaN,Lawrence,NaN,NaN,NaN,2024
11880,97,2024,Acting,ACTOR IN A LEADING ROLE,ACTOR IN A LEADING ROLE,fake_nomid014,The Apprentice,tt8368368,Sebastian Stan,Sebastian Stan,nm1659221,NaN,Donald Trump,NaN,NaN,NaN,2024

In [54]:
mask = ~recent_oscars["FilmId"].astype(str).str.startswith("tt")
recent_oscars.loc[mask, "FilmId"].unique()

array([], dtype=object)

In [55]:
import time
unique_films_ids = recent_oscars['FilmId'].str[2:].unique()

film_rows = []

for film_id in unique_films_ids:
    film = ia.get_movie(film_id)
    time.sleep(0.5) # half‑second pause

    if film:
        basic_info = {
            "title": film.get("title"),
            "year": film.get("year"),
            "rating": film.get("rating"),
            "genres": film.get("genres"),
            "runtime": film.get("runtimes"),
            "director": [d["name"] for d in film.get("directors", [])],
            "imdb_id": film.movieID
        }
        print("Appending: ", basic_info['title'])
        film_rows.append(basic_info)
    else:
        print("Film was not found:", film_id)

films_information = pd.DataFrame(film_rows)

Appending:  The Brutalist
Appending:  A Complete Unknown
Appending:  Sing Sing
Appending:  Conclave
Appending:  The Apprentice
Appending:  Anora
Appending:  A Real Pain
Appending:  Wicked
Appending:  Emilia Pérez
Appending:  The Substance
Appending:  I'm Still Here
Appending:  Flow
Appending:  Inside Out 2
Appending:  Memoir of a Snail
Appending:  Wallace & Gromit: Vengeance Most Fowl
Appending:  The Wild Robot
Appending:  Beautiful Men
Appending:  In the Shadow of the Cypress
Appending:  Magic Candies
Appending:  Wander to Wonder
Appending:  Beurk !
Appending:  Dune: Part Two
Appending:  Maria
Appending:  Nosferatu
Appending:  Gladiator II
Appending:  Black Box Diaries
Appending:  No Other Land
Appending:  Porcelain War
Appending:  Soundtrack to a Coup d'Etat
Appending:  Sugarcane
Appending:  Death by Numbers
Appending:  I am Ready, Warden
Appending:  Incident
Appending:  Instruments of a Beating Heart
Appending:  The Only Girl in the Orchestra
Appending:  The Girl with the Needle
Appending:  The Seed of the Sacred Fig
Appending:  A Different Man
Appending:  The Six Triple Eight
Appending:  Elton John: Never Too Late
Appending:  Nickel Boys
Appending:  A Lien
Appending:  Anuja
Appending:  I'm Not a Robot
Appending:  The Last Ranger
Appending:  The Man Who Could Not Remain Silent
Appending:  Alien: Romulus
Appending:  Better Man
Appending:  Kingdom of the Planet of the Apes
Appending:  September 5

In [56]:
films_information.head(2)

,title,year,rating,genres,runtime,director,imdb_id
0,The Brutalist,2024,7.2,[Drama],"[216, 201]",[Brady Corbet],8999762
1,A Complete Unknown,2024,7.3,"[Biography, Drama, Music]",[141],"[James Mangold, Yesi Ramirez]",11563598