In [ ]:
# Imports
import pandas as pd
from mssql_python import connect
import config

In [ ]:
# Paths
films_clean_path = "../transformation/transformed_data/films_clean_data.csv"
oscars__clean_path = "../transformation/transformed_data/oscars_clean_data.csv"
streaming_clean_path = "../transformation/transformed_data/streaming_clean_data.csv"

films_clean_df = pd.read_csv(films_clean_path)
oscars__clean_df = pd.read_csv(films_clean_path)
streaming_clean_df = pd.read_csv(films_clean_path)

## Setting up connection to Azure SQL Database

In [ ]:
connection_string = (
    f"Server=tcp:{config.SERVER};"
    f"Database={config.DB_NAME};"
    f"UID={config.USERNAME};"
    f"PWD={config.PASSWORD};"
    "Encrypt=yes;TrustServerCertificate=no;"
)

def get_conn():
    conn = connect(connection_string)
    conn.setautocommit(True)
    return conn

get_conn()

TO be deleted

In [ ]:
conn = get_conn()
cursor = conn.cursor()

cursor = conn.cursor()
cursor.execute("SELECT DB_NAME();")
print(cursor.fetchone())

('ads-507-db')

In [ ]:
#CREATE A TEST TABLE TO CHECK CONNECTION

conn = get_conn()
cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (
    SELECT * FROM sys.tables WHERE name = 'test_connection_table'
)
BEGIN
    CREATE TABLE test_connection_table (
        id INT PRIMARY KEY,
        note VARCHAR(50)
    );
END
""")
conn.commit()

print("Table created (if it didn't already exist).")


cursor.execute("""
    INSERT INTO test_connection_table (id, note)
    VALUES (1, 'hello');
""")
conn.commit()

print("Row inserted.")

cursor.execute("SELECT * FROM test_connection_table;")
print(cursor.fetchall())

Table created (if it didn't already exist).

IntegrityError: Driver Error: Integrity constraint violation; DDBC Error: [Microsoft][SQL Server]Violation of PRIMARY KEY constraint 'PK__test_con__3213E83FB959A31D'. Cannot insert duplicate key in object 'dbo.test_connection_table'. The duplicate key value is (1).

In [ ]:
# DELETE TEST TABLE
cursor.execute("DROP TABLE test_connection_table;")
conn.commit()

print("Table dropped.")

Table dropped.

In [24]:
# SQL language -->
# add the credeentials and a way for you to connect to the dabase from the jupyter notebook 

#conn = sqllite() SELECT * from nameof thable
# update CREATE ()

# Create a daabase schema 
# Connect to the database --> 
## UPDATE OR ADD NEW DATA TO THE TABLES AS NEEDED.

# CREATE IF NOT EXISTS (DATABSE)
# CREATE TABLE IF NOT EXIST()